* {
    margin: 0;
  }
  img {
    width: 100%;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
  
    display: grid;
  
    grid-template:
      "header header header" 50px
      "left-menu main right-menu" 1fr
      "footer footer footer" 50px /
      200px 1fr 200px;
  }
  
  .header {
    grid-area: header;
    background-color: #ffcc0086;
  }
  
  .left-menu {
    grid-area: left-menu;
    background-color: #ff000070;
    display: grid;
    align-content: start;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .main {
    grid-area: main;
    background-color: #00ff0070;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
  }
  
  .right-menu {
    grid-area: right-menu;
    background-color: #ff00ff70;
    display: grid;
    align-content: start;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .footer {
    grid-area: footer;
    background-color: #00aaff70;
  }
  .item {
    border: solid 1px black;
    padding: 1rem;
  }
  .content {
    border: solid 1px black;
    padding: 1rem;
    display: grid;
    place-items: center;
  }
  .right-item {
    border: solid 1px black;
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px;
  }
  @media screen and (max-width: 425px) {
    .container {
      grid-template:
        "header " 50px
        "main" 1fr
        "footer " 50px /
        1fr;
    }
    .left-menu {
      display: none;
    }
    .right-menu {
      display: none;
    }
  }